In [179]:
### Assumption : Confirmed_cases.csv exists in the working directory

from selenium import webdriver
import pandas as pd
import os
import re
from selenium.webdriver import ActionChains
from selenium.common.exceptions import NoSuchElementException  
from selenium.webdriver.common.keys import Keys
import time
import numpy as np
import random
from datetime import datetime
import collections

In [180]:
URL = "https://www.arcgis.com/apps/opsdashboard/index.html#/85320e2ea5424dfaaa75ae62e5c06e61"

In [181]:
chrome_options = webdriver.ChromeOptions()
chrome_options.headless = True
prefs = {"profile.default_content_setting_values.notifications" : 2}
chrome_options.add_experimental_option("prefs",prefs)
br = webdriver.Chrome(executable_path=r"C:/Users/qasim/Downloads/chromedriver_win32_v80/chromedriver.exe",options=chrome_options)
br.get(URL)
time.sleep(3)

In [182]:
data = br.find_element_by_id("ember21").text.split("\n")[:6]

In [183]:
def extract_num(string):
    string = string.split(" ")[0]
    return int(string.replace(",", ""))

In [184]:
logistics = {"CONFIRMED" : extract_num(data[1]), "DEATHS" : extract_num(data[3]), "RECOVERED" : extract_num(data[5])}

In [185]:
data = br.find_element_by_id("ember107").click()

In [186]:
TIME = str(datetime.now())
TIME = ':'.join(TIME.split(":")[:-1])

In [187]:
root = br.find_element_by_id("ember60")

In [188]:
br.find_element_by_id("ember66").screenshot("Images/"+ TIME.split(" ")[0] +".png")

True

In [189]:
data = root.text.split("\n")[1:]

In [190]:
case = {}

In [191]:
for x in data:
    x = x.split(" ")
    country = " ".join(x[1:]).replace("*", "").strip()
    cases = int(x[0].replace(",",""))
    case[country] = cases

In [192]:
case = collections.OrderedDict(sorted(case.items()))

In [193]:
raw_data = {**logistics, **case}
raw_data = collections.OrderedDict(sorted(raw_data.items()))

In [194]:
raw_data

OrderedDict([('Albania', 64),
             ('Algeria', 90),
             ('Andorra', 74),
             ('Argentina', 128),
             ('Armenia', 122),
             ('Australia', 681),
             ('Austria', 2013),
             ('Azerbaijan', 44),
             ('Bahrain', 278),
             ('Belarus', 51),
             ('Belgium', 1795),
             ('Bosnia and Herzegovina', 63),
             ('Brazil', 621),
             ('Brunei', 75),
             ('Bulgaria', 107),
             ('Burkina Faso', 33),
             ('CONFIRMED', 244517),
             ('Cambodia', 37),
             ('Canada', 872),
             ('Chile', 342),
             ('China', 81193),
             ('Colombia', 102),
             ('Costa Rica', 87),
             ('Croatia', 110),
             ('Cruise Ship', 712),
             ('Cyprus', 67),
             ('Czechia', 694),
             ('DEATHS', 10030),
             ('Denmark', 1225),
             ('Dominican Republic', 34),
             ('Ecuador', 260),
             ('Egypt', 256),
             ('Estonia', 267),
             ('Finland', 400),
             ('France', 11010),
             ('Georgia', 40),
             ('Germany', 15320),
             ('Greece', 464),
             ('Guadeloupe', 33),
             ('Hungary', 73),
             ('Iceland', 330),
             ('India', 194),
             ('Indonesia', 311),
             ('Iran', 18407),
             ('Iraq', 192),
             ('Ireland', 557),
             ('Israel', 677),
             ('Italy', 41035),
             ('Japan', 943),
             ('Jordan', 69),
             ('Kazakhstan', 44),
             ('Korea, South', 8652),
             ('Kuwait', 148),
             ('Latvia', 86),
             ('Lebanon', 157),
             ('Liechtenstein', 28),
             ('Lithuania', 48),
             ('Luxembourg', 335),
             ('Malaysia', 900),
             ('Malta', 53),
             ('Mexico', 118),
             ('Moldova', 49),
             ('Morocco', 63),
             ('Netherlands', 2468),
             ('New Zealand', 39),
             ('North Macedonia', 48),
             ('Norway', 1781),
             ('Oman', 48),
             ('Pakistan', 454),
             ('Panama', 137),
             ('Peru', 234),
             ('Philippines', 217),
             ('Poland', 355),
             ('Portugal', 785),
             ('Qatar', 460),
             ('RECOVERED', 86025),
             ('Reunion', 28),
             ('Romania', 277),
             ('Russia', 199),
             ('San Marino', 144),
             ('Saudi Arabia', 274),
             ('Senegal', 31),
             ('Serbia', 103),
             ('Singapore', 345),
             ('Slovakia', 123),
             ('Slovenia', 319),
             ('South Africa', 150),
             ('Spain', 18077),
             ('Sri Lanka', 60),
             ('Sweden', 1439),
             ('Switzerland', 4164),
             ('Taiwan', 108),
             ('Thailand', 272),
             ('Tunisia', 39),
             ('Turkey', 359),
             ('US', 14250),
             ('Ukraine', 26),
             ('United Arab Emirates', 140),
             ('United Kingdom', 2716),
             ('Uruguay', 94),
             ('Uzbekistan', 23),
             ('Venezuela', 42),
             ('Vietnam', 85)])

In [195]:
df = pd.read_csv("Confirmed_case.csv")

In [196]:
df.tail()

,Country,2020-03-18 18:53,2020-03-18 19:07,2020-03-18 19:17,2020-03-18 19:27,2020-03-18 20:09,2020-03-18 20:18,2020-03-18 20:28,2020-03-18 20:57,2020-03-18 21:07,...,2020-03-19 22:43,2020-03-19 23:02,2020-03-19 23:12,2020-03-19 23:22,2020-03-19 23:32,2020-03-19 23:42,2020-03-19 23:52,2020-03-19 23:57,2020-03-20 00:12,2020-03-20 00:22
100,United Kingdom,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,...,23.0,23.0,23.0,23.0,23.0,23.0,23.0,2716.0,23.0,23.0
101,Uruguay,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,94.0,42.0,42.0
102,Uzbekistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,85.0,85.0,85.0,85.0,85.0,85.0,85.0,23.0,85.0,85.0
103,Venezuela,36.0,36.0,36.0,36.0,36.0,36.0,36.0,36.0,36.0,...,85.0,85.0,85.0,85.0,85.0,85.0,85.0,42.0,42.0,42.0
104,Vietnam,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,...,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0

In [197]:
conts = list(df["Country"])
curr_count = len(df["Country"])

In [198]:
zero_fill = np.zeros(df.shape[1] - 1)

In [199]:
for label in raw_data:
    if(label not in conts):
        print("IN HERE")
        temp = np.append(zero_fill, label)
        temp = temp[::-1]
        df.loc[curr_count] = temp
df = df.sort_values(by=['Country'], inplace=False).reset_index(drop=True)

In [200]:
for i, label in enumerate(conts):
    if(label not in raw_data):
        add = df.iloc[i][-1]
        raw_data[label] = add
raw_data = collections.OrderedDict(sorted(raw_data.items()))

In [201]:
raw_data

OrderedDict([('Afghanistan', 64.0),
             ('Albania', 64),
             ('Algeria', 90),
             ('Andorra', 74),
             ('Argentina', 128),
             ('Armenia', 122),
             ('Australia', 681),
             ('Austria', 2013),
             ('Azerbaijan', 44),
             ('Bahrain', 278),
             ('Belarus', 51),
             ('Belgium', 1795),
             ('Bosnia and Herzegovina', 63),
             ('Brazil', 621),
             ('Brunei', 75),
             ('Bulgaria', 107),
             ('Burkina Faso', 33),
             ('CONFIRMED', 244517),
             ('Cambodia', 37),
             ('Canada', 872),
             ('Chile', 342),
             ('China', 81193),
             ('Colombia', 102),
             ('Costa Rica', 87),
             ('Croatia', 110),
             ('Cruise Ship', 712),
             ('Cyprus', 67),
             ('Czechia', 694),
             ('DEATHS', 10030),
             ('Denmark', 1225),
             ('Dominican Republic', 34),
             ('Ecuador', 260),
             ('Egypt', 256),
             ('Estonia', 267),
             ('Finland', 400),
             ('France', 11010),
             ('Georgia', 40),
             ('Germany', 15320),
             ('Greece', 464),
             ('Guadeloupe', 33),
             ('Hungary', 73),
             ('Iceland', 330),
             ('India', 194),
             ('Indonesia', 311),
             ('Iran', 18407),
             ('Iraq', 192),
             ('Ireland', 557),
             ('Israel', 677),
             ('Italy', 41035),
             ('Japan', 943),
             ('Jordan', 69),
             ('Kazakhstan', 44),
             ('Korea, South', 8652),
             ('Kuwait', 148),
             ('Latvia', 86),
             ('Lebanon', 157),
             ('Liechtenstein', 28),
             ('Lithuania', 48),
             ('Luxembourg', 335),
             ('Malaysia', 900),
             ('Malta', 53),
             ('Martinique', 49.0),
             ('Mexico', 118),
             ('Moldova', 49),
             ('Morocco', 63),
             ('Netherlands', 2468),
             ('New Zealand', 39),
             ('North Macedonia', 48),
             ('Norway', 1781),
             ('Oman', 48),
             ('Pakistan', 454),
             ('Panama', 137),
             ('Peru', 234),
             ('Philippines', 217),
             ('Poland', 355),
             ('Portugal', 785),
             ('Qatar', 460),
             ('RECOVERED', 86025),
             ('Reunion', 28),
             ('Romania', 277),
             ('Russia', 199),
             ('San Marino', 144),
             ('Saudi Arabia', 274),
             ('Senegal', 31),
             ('Serbia', 103),
             ('Singapore', 345),
             ('Slovakia', 123),
             ('Slovenia', 319),
             ('South Africa', 150),
             ('Spain', 18077),
             ('Sri Lanka', 60),
             ('Sweden', 1439),
             ('Switzerland', 4164),
             ('Taiwan', 108),
             ('Thailand', 272),
             ('Tunisia', 39),
             ('Turkey', 359),
             ('US', 14250),
             ('Ukraine', 26),
             ('United Arab Emirates', 140),
             ('United Kingdom', 2716),
             ('Uruguay', 94),
             ('Uzbekistan', 23),
             ('Venezuela', 42),
             ('Vietnam', 85)])

In [202]:
df.tail()

,Country,2020-03-18 18:53,2020-03-18 19:07,2020-03-18 19:17,2020-03-18 19:27,2020-03-18 20:09,2020-03-18 20:18,2020-03-18 20:28,2020-03-18 20:57,2020-03-18 21:07,...,2020-03-19 22:43,2020-03-19 23:02,2020-03-19 23:12,2020-03-19 23:22,2020-03-19 23:32,2020-03-19 23:42,2020-03-19 23:52,2020-03-19 23:57,2020-03-20 00:12,2020-03-20 00:22
100,United Kingdom,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,...,23.0,23.0,23.0,23.0,23.0,23.0,23.0,2716.0,23.0,23.0
101,Uruguay,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,94.0,42.0,42.0
102,Uzbekistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,85.0,85.0,85.0,85.0,85.0,85.0,85.0,23.0,85.0,85.0
103,Venezuela,36.0,36.0,36.0,36.0,36.0,36.0,36.0,36.0,36.0,...,85.0,85.0,85.0,85.0,85.0,85.0,85.0,42.0,42.0,42.0
104,Vietnam,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,...,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0

In [203]:
df_temp = pd.DataFrame.from_dict(raw_data, orient="index", columns=[TIME]).reset_index()

In [204]:
df_temp.tail()

              index  2020-03-20 00:24
100  United Kingdom            2716.0
101         Uruguay              94.0
102      Uzbekistan              23.0
103       Venezuela              42.0
104         Vietnam              85.0

In [205]:
del df_temp["index"]

In [206]:
df_temp.tail()

     2020-03-20 00:24
100            2716.0
101              94.0
102              23.0
103              42.0
104              85.0

In [207]:
df.tail()

,Country,2020-03-18 18:53,2020-03-18 19:07,2020-03-18 19:17,2020-03-18 19:27,2020-03-18 20:09,2020-03-18 20:18,2020-03-18 20:28,2020-03-18 20:57,2020-03-18 21:07,...,2020-03-19 22:43,2020-03-19 23:02,2020-03-19 23:12,2020-03-19 23:22,2020-03-19 23:32,2020-03-19 23:42,2020-03-19 23:52,2020-03-19 23:57,2020-03-20 00:12,2020-03-20 00:22
100,United Kingdom,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,...,23.0,23.0,23.0,23.0,23.0,23.0,23.0,2716.0,23.0,23.0
101,Uruguay,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,...,42.0,42.0,42.0,42.0,42.0,42.0,42.0,94.0,42.0,42.0
102,Uzbekistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,85.0,85.0,85.0,85.0,85.0,85.0,85.0,23.0,85.0,85.0
103,Venezuela,36.0,36.0,36.0,36.0,36.0,36.0,36.0,36.0,36.0,...,85.0,85.0,85.0,85.0,85.0,85.0,85.0,42.0,42.0,42.0
104,Vietnam,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,...,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0

In [208]:
df_cum = [df, df_temp]

In [209]:
df_cum = pd.concat(df_cum, axis=1)

In [210]:
df_cum.tail()

,Country,2020-03-18 18:53,2020-03-18 19:07,2020-03-18 19:17,2020-03-18 19:27,2020-03-18 20:09,2020-03-18 20:18,2020-03-18 20:28,2020-03-18 20:57,2020-03-18 21:07,...,2020-03-19 23:02,2020-03-19 23:12,2020-03-19 23:22,2020-03-19 23:32,2020-03-19 23:42,2020-03-19 23:52,2020-03-19 23:57,2020-03-20 00:12,2020-03-20 00:22,2020-03-20 00:24
100,United Kingdom,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,...,23.0,23.0,23.0,23.0,23.0,23.0,2716.0,23.0,23.0,2716.0
101,Uruguay,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,...,42.0,42.0,42.0,42.0,42.0,42.0,94.0,42.0,42.0,94.0
102,Uzbekistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,85.0,85.0,85.0,85.0,85.0,85.0,23.0,85.0,85.0,23.0
103,Venezuela,36.0,36.0,36.0,36.0,36.0,36.0,36.0,36.0,36.0,...,85.0,85.0,85.0,85.0,85.0,85.0,42.0,42.0,42.0,42.0
104,Vietnam,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,...,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0

In [211]:
null_values = df_cum[df_cum[TIME].isnull()].index.tolist()

In [212]:
null_values

[]

In [213]:
if(len(null_values) > 0):
    priori = df_cum.columns[-2]
    df_copy = df_cum.copy()

    for x in null_values:
        value = df_copy[priori][x]
        df_cum.loc[:,TIME][x] = value

    del df_copy

In [214]:
df_cum.tail(9)

,Country,2020-03-18 18:53,2020-03-18 19:07,2020-03-18 19:17,2020-03-18 19:27,2020-03-18 20:09,2020-03-18 20:18,2020-03-18 20:28,2020-03-18 20:57,2020-03-18 21:07,...,2020-03-19 23:02,2020-03-19 23:12,2020-03-19 23:22,2020-03-19 23:32,2020-03-19 23:42,2020-03-19 23:52,2020-03-19 23:57,2020-03-20 00:12,2020-03-20 00:22,2020-03-20 00:24
96,Turkey,98.0,98.0,98.0,98.0,98.0,98.0,98.0,98.0,98.0,...,26.0,26.0,26.0,26.0,26.0,26.0,359.0,26.0,26.0,359.0
97,US,7769.0,7769.0,7769.0,7769.0,7769.0,7769.0,7769.0,7769.0,7769.0,...,140.0,140.0,140.0,140.0,140.0,140.0,14250.0,140.0,140.0,14250.0
98,Ukraine,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2716.0,2716.0,2716.0,2716.0,2716.0,2716.0,26.0,2716.0,2716.0,26.0
99,United Arab Emirates,113.0,113.0,113.0,113.0,113.0,113.0,113.0,113.0,113.0,...,94.0,94.0,94.0,94.0,94.0,94.0,140.0,94.0,94.0,140.0
100,United Kingdom,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,2642.0,...,23.0,23.0,23.0,23.0,23.0,23.0,2716.0,23.0,23.0,2716.0
101,Uruguay,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,...,42.0,42.0,42.0,42.0,42.0,42.0,94.0,42.0,42.0,94.0
102,Uzbekistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,85.0,85.0,85.0,85.0,85.0,85.0,23.0,85.0,85.0,23.0
103,Venezuela,36.0,36.0,36.0,36.0,36.0,36.0,36.0,36.0,36.0,...,85.0,85.0,85.0,85.0,85.0,85.0,42.0,42.0,42.0,42.0
104,Vietnam,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,...,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0,85.0

In [215]:
df_cum.to_csv("Confirmed_case.csv", index=False)